@font-face {
    font-family: 'NorseBold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --padding-right: 3rem;
    /* --content-right-width: 800px; */
    --content-right-width: clamp(400px, 80%, 800px);
    --shade-right: #dddddd;
    --green-theme: #596d48;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
    background-image: url('media/background.jpg');
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {
    flex: 1 2 33vw;
    flex-shrink: 2;
    position: relative;
}

/*TODO: Use absolute positioning*/
.odin-banner {
    background-color: rgba(0,0,0,0.5);
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
}

.odin-img {
    width:100px;
}

.odin-label {
    font-family: 'NorseBold';
    letter-spacing: 2px;
    font-size: 10rem;
    font-weight: 700;
    color: white;
    font-family: 'NorseBold';
    margin-left: 16px;
}

.right {
    background-color: var(--shade-right);
    flex: 1 1 67vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-top {
    max-width: var(--content-right-width);
    padding: 0 var(--padding-right) 32px;
    font-size: 18px;
}

.descriptor {
    margin-top: 16px;
}

.right-container {
    background-color: white;
    border-bottom: var(--shade-right);
    box-shadow: 0px 2px #cccccc;
}

.right-middle {
    padding: 16px var(--padding-right) 16px;
    max-width: var(--content-right-width);
}

.form-header {
    color:#444444;
}

.cols {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.left-col, .right-col {
    flex: 1 1 200px
}

.entry {
    margin-top: 16px;
}

.label-field {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.input-field {
    margin-top: 4px;
    width:70%;
    line-height: 1.5;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 2px 1ch;
}

.input-field:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px gray;
    outline: none;
}

.input-field:invalid {
    border-color: red;
}

/* Right bottom section*/
.right-bottom {
    max-width: var(--content-right-width);
    padding: 16px var(--padding-right);
}

.submit-btn {
    padding: 12px 48px;
    background-color: var(--green-theme);
    color:white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.submit-btn:hover {
    cursor: pointer;
}

#account-disclaimer {
    margin-top: 16px;
}

.right-bottom a {
    text-decoration: none;
    color: var(--green-theme);
}

.img-credit {
    position: absolute;
    bottom: 2%;
    color: white;
}

.img-credit a {
    color: white;
    text-decoration: underline;
}